#board {
    display: flex;
    flex-direction: column;
}

#row {
    display: flex;
}

#container {
    display: flex;
    flex-direction: row;
}

img {
    object-fit: scale-down;
}

#boards {
    display: flex;
    flex-direction: column;
}

.board {
    margin: 10px;
    border: 5px solid red
}

#menu {
    border: 1px solid black
}

.cell_player,
.cell_enemy {
    border: 1px solid rgba(128, 128, 128, 0.267);
    width: 30px;
    height: 30px;
    text-align: center;
    text-justify: auto;
}

#menu {
    display: flex;
    flex-direction: column;
}

#shipcontainer {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ship:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px black);
}