#board {
    display: flex;
    flex-direction: column;
}

#row_player,
#row_enemy {
    display: flex;
}

#container {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

#boards {
    display: flex;
    flex-direction: column;
}

.board {
    border: 5px solid red;
    margin: 2.5px;
}

#menu {
    border: 1px solid black;
    width: 250px;
    height: 250px;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
}

img {
    object-fit: scale-down;
    pointer-events: none;
}

.cell_player,
.cell_enemy {
    border: 1px solid rgba(128, 128, 128, 0.267);
    position: static;
    /* z-index: -1; */
    width: 27px;
    height: 27px;
    text-align: center;
    text-justify: auto;
    /* background-image: url(img/4ba04f101507243.5f2072732e578.jpg); */
}

#menu {
    display: flex;
    flex-direction: column;
}

#rightContainer {
    margin-left: 30px;
}

#shipcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ship:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px black);
}