body {
    background-image: url(img/4ba04f101507243.5f2072732e578.jpg);
}

#board {
    display: flex;
    flex-direction: column;
}

#row_player,
#row_enemy {
    display: flex;
}

#container {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
}

#boards {
    display: flex;
    flex-direction: column;
}

.board {
    border: 5px solid red;
    margin: 2.5px;
}

#menu {
    border: 1px solid black;
    width: 250px;
    height: 250px;
}

#buttonContainer {
    display: flex;
    flex-direction: column;
}

img {
    object-fit: scale-down;
}

#dot {
    width: 15px;
    position: relative;
    z-index: 10;
    /* top: 25%; */
    /* left: 25%; */
}

.deployed {
    position: relative;
    pointer-events: none;
    top: 25%;
    left: 25%;
}

.deployed_C {
    position: relative;
    pointer-events: none;
    left: -5px;
}

.cell_player,
.cell_enemy {
    border: 1px solid rgba(128, 128, 128, 0.267);
    position: static;
    /* z-index: -1; */
    width: 27px;
    height: 27px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(14, 13, 34);
}

#menu {
    display: flex;
    flex-direction: column;
}

button {
    background: rgba(128, 128, 128, 0.589);
    color: inherit;
    border: 1px solid black;
    /* padding: 0; */
    margin-top: 1px;
    /* font: inherit; */
    cursor: pointer;
    outline: inherit;
    color: white;
    font-size: large;
    font-weight: bolder;
}

#rightContainer {
    margin-left: 30px;
}

#shipcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ship:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px black);
}